node_modules/
.tmp.drivedownload/
.tmp.driveupload/
.metadata/
bin/
.settings/
public/
.classpath/
.project/
.vscode/
Servers/
Other/
.mvn

1_Front_End/.DS_Store
2_Back_End/.DS_Store
2_Back_End/back_end/.DS_Store
2_Back_End/back_end/src/.DS_Store
2_Back_End/back_end/src/main/.DS_Store
2_Back_End/back_end/src/main/java/.DS_Store
2_Back_End/back_end/src/main/java/com/.DS_Store
2_Back_End/back_end/src/main/java/com/app/.DS_Store
2_Back_End/back_end/src/main/java/com/app/controller/.DS_Store
4_Diagram/.DS_Store
.DS_Store
